body {
    background: transparent;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
section{
    background-color:rgba(189, 55, 70, 0.767);
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    border: 2px solid rgb(110, 106, 104);
}
section h1{
    font-size: 30px;
    text-align: center;
    color: #fff;
   margin-bottom: 20px;
        }
 .input-box{
            width: 100%;
            position: relative;
            margin-bottom: 20px;
        }
.input-box input{
     width: 390px;
    padding: 15px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(255 ,255 , 255,0.2);
    color: #fff;
    padding-right: 40px;
        }
 .input-box input::placeholder{
    color: #fff;
 }
 .input-box i {
    position: absolute;
  transform: translateY(-50%);
  right: 20px;
  top: 30px;
  color: #fff;
        }
.chk{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #fff;
    margin-bottom: 25px;

}
.chk a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
       }
.chk a:hover {
        text-decoration: underline;
       }
       .btn{
        width: 100%;
        padding: 15px;
        border-radius: 25px;
        border: 2px solid transparent;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;

       }
       .btn:hover{
        color: #fff;
      background-color:transparent;
      border: 2px solid rgba(252, 80, 100, 0.90);;
     }
     .reg{
        text-align: center;
        margin-top: 25px;
        color: #fff;
        font-size: 15px;
     }
     .reg a{  color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: 0.5s;
    }
    P{ 
        display: inline-block;
    }
    .reg a:hover{text-decoration: underline;
        
    }