* {
    font-family: "Outfit", serif;
    text-transform: capitalize;    }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f0;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.teacher-card {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 550px;
    height: 300px;
    text-align: center;
}
.pr{
    background: rgba(255, 212, 1, 0.5);
    width: 275;
    height: 290;
    top: 45px;
    left: 49px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 50px;

}
.teacher-card img {
    width: 240px;
    border-radius: 50%;
}
.teacher-card .info  h2 {
   color:rgba(252, 80, 100, 1);
    text-decoration: underline;
    margin: 50px;
    text-align: center;
    font-size: 25px;

}
.teacher-card .info p {
    margin: 10px;
    text-align: start;
    color: #555;
}
.social-icons {
    margin-top:40px;
    
}
.social-icons a  {
   font-size: 40px;
    margin: 0 5px;
    color: #ffb6c1;
}
.join-message {
     background: linear-gradient(270deg, rgba(9, 145, 138, 0.5) 0%, rgba(255, 212, 1, 0.5) 50%, rgba(252, 80, 100, 0.5) 100%);
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-top: 100px ;
    margin-left: 120px;
    width: 80%;
    border-radius: 5px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.gallery-item img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    background: linear-gradient(to top, #ffb6c1, #ffc8d8);
    padding: 20px;
    color: white;
    text-align: center;
}
.footer-logo h2 {
    font-family: 'Comic Sans MS', cursive;
    color: #4a90e2;
}
.contact p {
    margin: 10px 0;
}
.footer-links a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    text-align: center;
}
.footer-links a:hover{
    color: crimson;
}
.copyright {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.8;
}
.social-icons1 a{
    font-size: 40px;
    color: #555;
   
    
}
.social-icons1 a:hover{
    color:crimson ;
}